body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col-container {
  display: table;
  width: 100%;
}
.col-1 {
  width: 40%;
  display: table-cell;
  padding: 16px;
}
.col-2 {
  width: 30%;
  display: table-cell;
  padding: 16px;
}

.scrollit {
  overflow:scroll;
  height:500px;
}
